*{
 background-size: 100%;
 background-repeat: no-repeat;
}

.player-1 {
  background-color: #45b6fe;
  height: 100px;
  width: 100%;
}

.player-2 {
  background-color: #45b6fe;
  height: 100px;
  width: 100%;
}
