*{
  box-sizing: border-box;
}

body {
  background-image: url('images/background 2.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.players {
  display: flex;
  justify-content: center;
}

.dropdown-item {
  width: 200px;
}

.player-1 {
  border: 5px solid grey;
  height: 80vh;
  width: 40vw;
}

.player-2 {
  border: 5px solid #45b6fe;
  height: 80vh;
  width: 40vw;
}
